/* Sign in
/* ---------------------------------------------------------- */

.gh-signin-wrapper {
    background: #f4f8fb;
}

.gh-signin-logo {
    margin: 80px auto 30px;
}

.gh-signin {
    position: relative;
    margin: 30px auto;
    padding: 50px 40px;
    max-width: 360px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 0 1px rgba(0, 0, 0, .09), 0 2px 5px rgba(0, 0, 0, .03);
}

.gh-signin .form-group {
    margin-bottom: 1.5rem;
}

.gh-signin .gh-btn {
    margin: 0;
}

.forgotten-wrap {
    position: relative;
}

.forgotten-wrap input {
    padding-right: 7rem;
}

.forgotten-wrap .forgotten-link {
    position: absolute;
    top: 10px;
    right: 1px;
    bottom: 10px;
    border-left: color-mod(var(--lightgrey) l(-5%) s(-10%)) 1px solid;
    border-radius: 0;
}
.forgotten-link span {
    height: 20px;
    font-size: 1.1rem;
    line-height: 20px;
    padding: 0 11px 0 12px;
}

.forgotten-link:hover {
    border-left: color-mod(var(--lightgrey) l(-15%) s(-10%)) 1px solid;
    color: color-mod(var(--blue) l(-10%));
    text-decoration: none;
}

.forgotten-link:active {
    box-shadow: none;
    text-decoration: underline;
}
